GEMINI_API_KEY=
MELHOR_ENVIO_CLIENT_ID=30288
MELHOR_ENVIO_CLIENT_SECRET=NbUeUvisVNkpPZCd27bSh79IOPeQSMPVjJwslzO
MELHOR_ENVIO_EMAIL=estilobeeadm@gmail.com
MELHOR_ENVIO_ENV=production
MELHOR_ENVIO_BASE_URL=https://melhorenvio.com.br
MELHOR_ENVIO_FROM_CEP=
MELHOR_ENVIO_TOKEN=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=
PAGSEGURO_PAYMENT_URL=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
STORE_EMAIL=
STORE_WHATSAPP=